* {
  font-family: Times;
}

header {
  text-align: center;
  vertical-align: center;
}

section {
    background-color: #F1F1D4;
    padding: 10px;
    border-style: ridge;
    border-color: black;
    margin: 30px;
}

heading {
  text-align: center;
}

p, ul, li, h1, h2, heading {
  background-color: inherit;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
  color: #224a77;
}

article > p {
  text-indent: 1.5em;
}

ul {
  list-style: url('../imgs/salmon_bullet.png');
  color: salmon;
  padding-left: 50px;
}

li {
  font-family: Arial;
}

p {
  color: black;
}

figure.inlineImages {
  float: left;
}

figure.standAloneImages {
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.split > article {
  border-style: none;
}

footer {
  text-align: center;
}
